<% var headTitle = '';
if (is_archive()) headTitle = __('所有文章');
if (is_tag()) headTitle = page.tag + __('标签下的文章');
if (is_category()) headTitle = page.category + __('分类下的文章');%>
<div id="page">
<%-partial('partials/aside')%>
<div id="lx-main-content">
  <div class="lx-post">
  <h2 class="pagehead"><%=headTitle%></h2>
    <% page.posts.each(function (post) { %><div class="lx-entry padding"><div>
    <span class="lx-post-detail"><%= date(post.date, "YYYY-MM-DD") %></span>
    <h2 class="title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
    <p><% if (post.tags && post.tags.length){ %><i class="fa fa-tag"></i><%- list_tags(post.tags, { show_count: false, style: 'none', separator: ' <i class="fa fa-tag"></i>' }) %><%}%></p></div></div><% }) %>
<%-partial('partials/pagination')%>
<%-partial('partials/footer')%>
  </div>
</div>
</div>
