<% var headTitle = '';
if (is_archive()) headTitle = __('pagehead.archive');
if (is_tag()) headTitle =  __('pagehead.tag') + ' ' + page.tag;
if (is_category()) headTitle =  __('pagehead.category') + ' ' + page.category;%>
<div id="page">
<%if (theme.local_search.enable) {%><%- partial('partials/search')%><%}%>
<%-partial('partials/aside')%>
<div id="lx-main-content">
  <div class="lx-post">
  <h2 class="pagehead"><%=headTitle%></h2>
    <% page.posts.each(function (post) { %><div class="lx-entry padding"><div>
    <span class="lx-post-detail"><%= date(post.date, "YYYY-MM-DD") %></span>
    <h2 class="title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
    <p><% if (post.tags && post.tags.length){ %><i class="fa fa-tag"></i><%- list_tags(post.tags, { show_count: false, style: 'none', separator: ' <i class="fa fa-tag"></i>' }) %><%}%></p></div></div><% }) %>
<%-partial('partials/pagination')%>
<%-partial('partials/footer')%>
  </div>
</div>
</div>
