<div id="page">
<%if (theme.local_search.enable) {%><%- partial('partials/search')%><%}%>
<%-partial('partials/aside')%>
<div id="lx-main-content">
  <div class="lx-post">
<%-partial('partials/recent-posts')%>
<%-partial('partials/pagination')%>
<%-partial('partials/footer')%>
  </div>
</div>
</div>
