<% var pageTitle = page.title || '';
if (is_archive()) pageTitle = __('pagetitle.archive');
if (is_tag()) pageTitle = __('pagetitle.tag') + '-' + page.tag;
if (is_category()) pageTitle = __('pagetitle.category') + '-' + page.category;
if (pageTitle == '') {
    pageTitle = config.title;
} else {
    pageTitle += ' | ' + config.title;
}
var js = theme.base_file.js;
var css = theme.base_file.css;
if (theme.develop){ js = config.root + 'js/'; css = config.root + 'css/main.css';}
else { css += 'main.min.css';}
%><!DOCTYPE html>
<html <%if(config.language.length){%>lang="<%-config.language.substring(0,2)%>"<%}%>>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content=<%- theme.theme_color%>>
  <title><%=pageTitle%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="<%- config.author%>">
  <meta name="keywords" content="<%- config.keywords%>">
  <meta name="description" content="<%- config.description%>">
  <%- partial('partials/config')%>
  <link rel="shortcut icon" href="<%- url_for(theme.favicon)%>">
  <link rel="stylesheet" href="<%= css%>">
  <%-partial('partials/font')%>
  <script src="<%= theme.base_file.jquery_cdn%>"></script>
  <script src="<%= js%>jquery.jside.menu.js"></script>
	<script>
	$(document).ready(function(){
	$(".menu-container").jSideMenu({
	    jSidePosition: "position-right",
	    jSideSticky: true,
	    jSideSkin: "<%- theme.menu_theme%>",
	     });
	}); 
	</script>
  <%-partial('third-party/analytics/index')%>
  <%- lx_font()%>
  <link rel="stylesheet" href="<%= theme.font_awesome%>">
</head>
<body>
<%- body %>
<button class="hamburger hamburger--arrow-r" type="button">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
</button> 
<%- partial('partials/menu')%>
<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="<%= js%>jquery.easing.min.js"></script>
<script>
(function () {
	"use strict";
	var goToTop = function() {
		$(".js-gotop").on("click", function(event){
			event.preventDefault();
			$("html, body").animate({
				scrollTop: $("html").offset().top
			}, 500, "easeInOutExpo");
			return false;
		});
		$(window).scroll(function(){
			var $win = $(window);
			if ($win.scrollTop() > 200) {
				$(".js-top").addClass("active");
			} else {
				$(".js-top").removeClass("active");
			}
		});
	};
	$(function(){
		goToTop();
	});
}());
</script>
<% if (theme.local_search.enable) {%><script src="<%= js%>local.search.js"></script><%}%>
<%if (theme.comment.enable) {%><%- partial('third-party/comment')%><%}%>
<%if (theme.mathjax.enable) {%><%if (page.mathjax) {%><%- partial('third-party/mathjax')%><%}%><%}%></body>
</html>
