<div class="menu visibility">
  <div class="menu-head">
    <span class="layer">
      <div class="col">
        <div class="row for-pic">
          <div class="profile-pic">
            <a href="<%- config.root%>"><img src="<%- url_for(theme.avatar)%>" alt="<%- config.author%>"/></a>
          </div>
        </div>
        <div class="row for-name">
          <p><%- config.author%></p>
          <span class="tagline"><%- theme.personal_des%></span>
        </div>
      </div>
    </span>
  </div>
  <nav class="menu-container">
  <ul class="menu-items">
    <li><a href="/"><i class="fa fa-home fa-fw"></i><%= __('menu.home')%></a></li>
    <li><a href="<%- config.root%>archives/"><i class="fa fa-archive fa-fw"></i><%= __('menu.archive')%></a></li>
    <%if (theme.menu.category) {%><li class="has-sub"><span class="dropdown-heading">
      <i class="fa fa-th-list fa-fw"></i><%= __('menu.category')%></span>
        <%- list_categories({
                    show_count: false,
                    separator: '</li><li>'
                }) %>
    </li><%}%>
    <%if (theme.menu.pages.enable) {%><li class="has-sub"><span class="dropdown-heading">
      <i class="fa fa-bookmark fa-fw"></i><%= __('menu.page')%></span>
        <ul>
          <% for (var i in theme.menu.pages.links){ %><li><a href="<%= url_for(theme.menu.pages.links[i]) %>"><%= i %></a></li>
        <% } %></ul>
    </li><%}%>
    <%if (theme.menu.friends.enable) {%><li class="has-sub"><span class="dropdown-heading">
      <i class="fa fa-link fa-fw"></i><%= __('menu.friend')%></span>
        <ul>
          <% for (var j in theme.menu.friends.links){ %><li> <a href="<%= url_for(theme.menu.friends.links[j]) %>" target="_blank"><%= j %></a></li>
        <% } %></ul>
    </li><%}%>
  </ul>
  </nav>
</div>
