<div class="social-links">
<%if (theme.social.links.GitHub) {%><a href="<%= theme.social.links.GitHub%>" target="_blank"><i class="fa fa-github fa-fw"></i></a><%}-%>
<%if (theme.social.links.Email) {%><a href="<%= theme.social.links.Email%>"><i class="fa fa-envelope fa-fw"></i></a><%}-%>
<%if (theme.social.links.Weibo) {%><a href="<%= theme.social.links.Weibo%>" target="_blank"><i class="fa fa-weibo fa-fw"></i></a><%}-%>
<%if (theme.social.links.Google) {%><a href="<%= theme.social.links.Google%>" target="_blank"><i class="fa fa-google fa-fw"></i></a><%}-%>
<%if (theme.social.links.Twitter) {%><a href="<%= theme.social.links.Twitter%>" target="_blank"><i class="fa fa-twitter fa-fw"></i></a><%}-%>
<%if (theme.social.links.FB_Page) {%><a href="<%= theme.social.links.FB_Page%>" target="_blank"><i class="fa fa-facebook fa-fw"></i></a><%}-%>
<%if (theme.social.links.VK_Group) {%><a href="<%= theme.social.links.VK_Group%>" target="_blank"><i class="fa fa-vk fa-fw"></i></a><%}-%>
<%if (theme.social.links.StackOverflow) {%><a href="<%= theme.social.links.StackOverflow%>" target="_blank"><i class="fa fa-stack-overflow fa-fw"></i></a><%}-%>
<%if (theme.social.links.YouTube) {%><a href="<%= theme.social.links.YouTube%>" target="_blank"></a><i class="fa fa-youtube-play fa-fw"></i><%}-%>
<%if (theme.social.links.Instagram) {%><a href="<%= theme.social.links.Instagram%>" target="_blank"><i class="fa fa-instagram fa-fw"></i></a><%}-%>
<%if (theme.social.links.Skype) {%><a href="<%= theme.social.links.Skype%>" target="_blank"><i class="fa fa-skype fa-fw"></i></a><%}%>
</div>